html {
    max-width: 200vw;
}

body {
    background-image: url("../img/download.jpeg");
    background-size: 100% auto;
    text-align: center;
}

.T {
    width: 9vw;
    height: 9vw;
    background-image: url("../img/backgroundBolaVazia.jpg");
    background-size: 100% auto;
    margin: 0.5vw;
    border: 0.5vw solid rgb(0, 0, 0);
    border-radius: 50%;
    box-shadow: 0px 11px 100px rgb(255 255 255 / 82%)
}

.V {
    width: 9vw;
    height: 9vw;
    margin: 0.5vw;
    border: 0.5vw solid rgb(0, 0, 0);
    background-image: url("../img/BolaVermelha.jpeg");
    background-size: 100% auto;
    border-radius: 100%;
    box-shadow: 0px 11px 100px rgb(255 255 255 / 82%);
    
}

.A {
    width: 9vw;
    height: 9vw;
    margin: 0.5vw;
    border: 0.5vw solid rgb(0, 0, 0);
    background-image: url("../img/bolaAzul.jpeg");
    background-size: 100% auto;
    border-radius: 100%;
    box-shadow: 0px 11px 100px rgb(255 255 255 / 82%)
}

.bola_vermelha {
    width: 9vw;
    height: 9vw;
    border-radius: 100%;
    border: 0.5vw solid rgb(61, 158, 16);
}

.bola {
    background-color: tomato;
}

#lab {
    /* fundo da tabela */
    display: flex;
    width: 77vw;
    flex-wrap: wrap;
    background-image: url("../img/BackGroundTabuleiro.jpg");
    background-size: 138%;
    margin: 0px auto;
    border: 3px solid black;
    border-radius: 3%;
    box-shadow: 0px 0px 40px rgba(0, 217, 255, 0.5);
}

#tit {
    color: rgb(228, 228, 228);
    text-shadow: 3px 3px 5px rgba(0, 217, 255, 0.801);
    z-index: 1;
    position: relative;
}

#resultado_div {
    background-color: rgba(0, 0, 0, 0.24);
}

#vezde {
    font-family: monospace;
    font-size:2.5vw ;
    background-color: #000;
    color: rgb(228, 228, 228);
    text-shadow: 3px 16px 44px rgb(255 255 255 / 21%);
    margin-bottom: 10px;
}

.jg1 {
    color: red;
}
h1{
    font-size: 5vw;
}
@media only screen and (max-device-width: 400px) {}